
.buscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    min-width: 60%;
    max-width: 100%;
    
}
.buscador form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.selector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23372a1e'%3E%3Cpath d='M8 12L2 6h12z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 10px;
    content: none;

    background-color: var(--grey-color);
    width: 20%;
    color: grey;
    border: none;
    border-radius: 10px;
    padding: 10px 40px 10px 15px;
    cursor: pointer; 
    font-family: var(--font-main); 
}

.search-input {
    background-color: var(--grey-color);
    border: none;
    border-radius: 40px;
    padding: 10px 15px;
    color: var(--accent-color);
    font-family: var(--font-main);
    flex-grow: 1;
}

.boton-busqueda {
    background-color: var(--grey-color);
    border: none;
    border-radius: 50px;
    padding: 12px;
    color: grey;
    cursor: pointer;
}


/* ---------------------------------- */

.encabezado {
    margin: 25px 0;
}
.encabezado h3{
    margin-bottom: 0;
}


/* ---------------------------------- */

.tabla-libro {
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 0 20px; 
}

.tabla-libro td {
    vertical-align: top;
    height: 1px;
}

#numero {
    padding: 15px;
}
.imagen-libro {
    width: 30%;
    max-width: 120px; 
    padding-right: 20px;
    height: 100%;
}

.imagen-libro img {
    width: 100%; 
    aspect-ratio: 2 / 3; /* Proporción rectangular (2 de ancho por 3 de alto) */
    object-fit: cover;
    object-position: center;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* ----------- */
.info-libro-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.info-libro {
    padding: 15px 0;
}

.info-libro > a {
    display: block; /* Asegura que el enlace ocupe el espacio */
    height: 100%;
}

.titulo-libro {
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 800;
}

.autor-libro {
    margin-bottom: 10px;
}

.descripcion-libro {
    color: grey;
    margin-bottom: 10px;
    
}

.genero-libro {
    display: inline-block;
    color: grey;
    padding: 4px 12px;
    margin-bottom: 10px;
    border: 1px solid grey; 
    border-radius: 15px; 
    font-size: 0.85rem; 
    font-weight: 500;
    transition: all 0.3s ease;
}

.genero-libro:hover {
    background-color: #c5c3c3;
    color: #000;
}


/* ---------------------------------- */
.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paginacion_numeros{
    list-style: none;
    padding: 4px;
    margin: 0px 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.paginacion_siguiente, 
.paginacion_anterior {
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    font-weight: 500;
    font-size: small;
    transition: all 0.3s ease;
    text-align: center;
    min-width: 40px; /* Asegura que los números tengan un ancho consistente */

    &:hover:{
        color: grey;
    background-color: var(--grey-color);
    border-color: var(--grey-color);
    }
}

.paginacion_numero.active{
    padding: 5px 10px;
    margin: 0px 5px;
    color: white;
    background-color: grey;
    border-color: grey;
    cursor: default;
    border-radius: var(--redondeo-btn);
}
.generos-libro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    gap: 5px;
}
/* Estilo para la página activa */


@media (max-width: 768px) {
    .selector,
    .boton-busqueda{    
        height: 3rem; 
        width: 3rem;   
        padding: 12px;
        border-radius: 50%;
    }
    .search-input{
        height: 3rem;   
        width: 200px;
    }   
    .buscador{
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        min-width: 100%;
    }
    #numero{
        display: none;
    }
    .tabla-libro{
        width: 100%;
    }
    .info-libro-contenedor{
        
        padding: 0px;
    }
    .info-libro *{
        margin: 0px;
    }
    .imagen-libro{
        width: 40%;
    }
    
}