:root{
    --form-bg-color: #fdfbfa;
    --form-bg-oscurito: #f3f0ef;
    --form-subrayado: #776e71;
    --form-subrayado-fuerte: #4e4a4a;
    --error: #ac1d0d;
    --exito: #446b2d;
    --verde-btn: #6e8851;
    --tam-fuente-1: 12px;
    --tam-fuente-titulo: 16px;
    --tam-fuente-subtitulo: 14px;
    --redondeo-btn-form: 0.8rem;
    --padding-x: 0px;
    --padding-y: 12px;
    --padding-bloque-x: 5px;
    --padding-bloque-y: 8px;
    --margin-x: 1px;
    --margin-y: 1px;
    --padding-form: 2rem;
    --gap-seccion: 4px;
}
*{
    font-size: var(--tam-fuente-1);
}
.form_desplegable{
    display: flex;
    flex-direction: column;
    position: relative;
    
}
/*contenedores*/
.form_contenedor{

    background-color: var(--form-bg-color);
    width: 100%;
    min-height: max-content;
    padding: var(--padding-form);
}
.form_contenido{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;

}

.form_titulo{
    font-size: var(--tam-fuente-titulo);
    font-weight: bold;
    width: fit-content;
    text-align: center;
}
.form_seccion{
    display: flex;
    flex-direction: column;
    gap: var(--gap-seccion); 
}
.form_informacion{
    padding: var(--padding-y) 0;
    font-size: var(--tam-fuente-1);
}
.form_fila{
    display: flex;
    flex-direction: row;
    margin: var(--margin-x) var(--margin-y);
     
    align-items: center;
}
.form_columna{
    display: flex;
    flex-direction: column;
}


.inv{
    
    flex-direction: row-reverse;
}
.abs{
    position: absolute;
}

/*
.form_desplegable:hover .form_desplegable_cont{ 

    
    opacity: 1;
    height: auto;
    width: max-content;
    

}*/
.form_desplegable:hover > .oculta{
    display: none;
}
.form_boton{

    border: 1px solid var(--form-subrayado);
    max-height: fit-content;
    font-size: var(--tam-fuente-1);
    width: fit-content;
    border-radius: var(--redondeo-btn-form);
    padding: 2px 8px;
    
    &:hover{
        outline: 1px solid var(--form-subrayado) ;
        background-color: var(--form-bg-oscurito);
        cursor: pointer;
        
    }

}
.form_cabezera,
.form_pie{
    background-color: var(--form-bg-color);
    position: sticky;
    bottom: 0;
    z-index: 1000;
}
.form_datos{
    display: flex;
    flex-direction: column;
    
}
.form_petit{
    font-size: smaller;

}
.form_input{
    min-width: 200px;
    max-width: 100%;
    border: 1px solid var(--form-subrayado);
    margin-bottom: 4px;
    font-size: var(--tam-fuente-1);
    width: fit-content;
    border-radius: 1rem;
    flex-grow: 1;
}
.form_subtitulo{
    font-size: var(--tam-fuente-subtitulo);
    font-weight: 500;
}
.form_boton.verde{
    background-color: var(--verde-btn);
    color: var(--form-bg-color);
    border: 1px solid var(--form-subrayado-fuerte);
}
.form_boton.rojo{
    background-color: #943e35;
    color: var(--form-bg-color);
    border: 1px solid var(--form-subrayado-fuerte);
}
.form_bloque{
    display: flex;
    flex-direction: column;
    
    padding: var(--padding-bloque-x) var(--padding-bloque-y);
    opacity: 1;
    border: 1px var(--form-subrayado) solid;
    margin-top: 5px;

    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);

    &:hover{
        outline: 1px solid var(--form-subrayado) ;
        background-color: var(--form-bg-oscurito);
        
    }
    
}



/*Utilitarias*/
.se_despliega{
    transition: height 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    
}
.se_oculta{
    transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.subrayado::after{
    content: '';
    width: 100%;;
    
    height: 1px;
    display: block;
    background-color: var(--form-subrayado);
    margin-top: 0.5rem;
}
.rellena{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.cancelado{    
    position: relative; 
}
.cancelado::after{
    content: '';
    display: block;
    position: absolute;

    width: 120%;
    height: 2px;
    
    transform: translate(-10%, 12px) rotate(-2deg);
    background-color: var(--error);
    

}
.form_bloque.cancelado{
    opacity: 0.6;
}

.form_bloque:has(input:checked){
    background-color: var(--form-bg-oscurito);
    
}
.rojo{
    background-color: red;
}
.derecha{
    margin-right: 0;
    margin-left: auto;
}
.plegado{
    display: block;
    
    height: 0px;
    width: 0px;
    opacity: 0;
    overflow-y: hidden;
    margin-top: 5px;

}
.desplegado{

    opacity: 1;
    height: auto;
    
}
.ajustar{
    width: fit-content;
}
.form_error{
    color: var(--error);
    font-size: var(--tam-fuente-1);
    &::before{
        content: '⚠' ;
    }
}
.form_exito{
    color: var(--exito);
    font-size: var(--tam-fuente-1);
    &::before{
        content: '✓' ;
    }
}
.despliega::after{
    font-size: 10px;
    content: ' ▼ ' ;
    margin-right: 5px;
}
.despliega:hover:after{
    font-size: 10px;
    content: ' ▲' ;
    margin-right: 5px;
}
.ocultado{
    display: none;   
}
.base{
    margin-bottom: 0;
    margin-top: auto;
}
span.amarillo{
    font-weight: bold;
    color: #ca9c39;
}
span.verde{
    font-weight: bold;
    color: var(--exito);
}