
.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.formulario {
    font-family: var(--font-main);
    background: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60vh;
    margin: 25px;
    padding: 40px 0;
    border-radius: 20px;
}

h2 { text-align: center; }

form {
    display: none;
    flex-direction: column;
    transition: all 0.3s ease;
}

form.activo { 
    display: flex;
    width: 75%;
    gap: 2rem; 
    /* margin: 0 20px; */
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.boton-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
}
button {
    padding: 15px;
    background: var(--bt-color);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 50%;
    font-family: var(--font-main);
}
@media (max-width: 600px) {
    .boton-submit button {
        width: 70%;
    }
}

p.pseudo-link {
    text-align: center;
    /* margin-top: 15px; */
    color: var(--acent-color);
    cursor: pointer;
    text-decoration: underline;

    text-align: right;
}
p.pseudo-link:hover {
    color: #0056b3;
}

.mensaje-rojo {
    text-align: center;
    color: red;
    margin-top: 20px;
    min-height: 20px;
}
.mensaje-verde {
    text-align: center;
    color: green;
    margin-top: 20px;
    min-height: 20px;
}