@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap'); 

/* ------- Estilos Globales ------- */
:root {
    --primary-color: #b99772;
    --secondary-color: #f5f5dc;
    --text-color: #272727;
    --accent-color: #372a1e;
    --bt-color: #6fa47a;
    --bg-color: #f2f1eb; 
    --font-main: 'Poppins', sans-serif;
    --bg-color-2: #F2F1EB;
/*     --font-headings: 'Montserrat', sans-serif; */

    /*Varaibles para talleres*/
    --gris-1: oklch(78.377% 0.01976 285.877);
    --gris-2: oklch(58.544% 0.01646 264.475);

    --gris-texto: oklch(28.758% 0.01241 258.413);

    --btn-subir: oklch(55.542% 0.19656 1.567);
    --btn-subir-hover: oklch(36.897% 0.03658 259.493);

    --btn-borrar: oklch(0.8 0.1 30);
    --btn-borrar-hover: okSlch(0.7 0.1 30);
    --sa-cuerpo: oklch(93.1% 0.00011 271.152);

    --gris-1: #b0bdc2;
    --redondeo: 0.5rem;
    --redondeo-btn: 1.5rem;
    --redondeo-taller: 1.5rem;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-main);
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 1.6;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1, h2, h3 {
    font-family: var(--font-headings);
    font-weight: 450;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.destacado {
    font-weight: bold;
}


/* ------- Header ------- */
.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;

    position: sticky;
    top: 0;
    z-index: 1000;
}
.header div a {
    display: flex;
    align-items: center;
}

.main-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    margin: 10px;
    transition: all 0.3s ease;
}

.main-nav a {
    font-family: var(--font-headings);
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    padding-bottom: 5px;
}

.main-nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease;
}

.main-nav a:hover {
    color:var(--secondary-color);
}

.main-nav a:hover::after {
    width: 100%;
}

.btn-acceso {
    border: 1px solid var(--accent-color);
    border-radius: 50px;
    padding: 5px 15px;
    color: var(--accent-color);
}
.btn-acceso:hover {
    border-color: var(--secondary-color);
}

/* Evita que el efecto de la línea aparezca en el botón de acceso */
.main-nav li.no-underline a.btn-acceso::after {
    content: none;
}

/* Estilos para el botón/imagen de perfil */
.btn-perfil {
    display: flex;
    align-items: center;
    padding: 0;
}
.img-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    object-fit: cover; 
    padding: 2px; /* <--- Esta es la propiedad que añade el espacio interior */
    border: 2px solid var(--accent-color);
}
.btn-perfil:hover .img-perfil {
    border-color: var(--secondary-color);
}
.main-nav li.no-underline a.btn-perfil::after {
    content: none;
}

/* Por defecto (vista escritorio), ocultamos el enlace de perfil para móvil */
.perfil-mobile {
    display: none;
}


/* ------- Menú Hamburguesa ------- */
.hamburger-menu {
    display: none; 
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px;
    z-index: 1010; 
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 100%;
    height: 3px;
    background-color: var(--accent-color);
    position: absolute;
    border-radius: 3px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger-inner {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: '';
    left: 0;
}

.hamburger-inner::before { top: -10px; }
.hamburger-inner::after { bottom: -10px; }


/* ------- Contenido Principal (Main) ------- */
.main-content {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    padding: 3rem;
}


/* ------- Divisor de Secciones ------- */
.linea-divisora {
    border: 0;
    height: 1px;
    background-color: var(--accent-color);
    opacity: 0.6; 
    margin: 3rem auto;
    width: 80%; 
}


/* ------- Footer ------- */
footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}

/* ------- Responsive (Menú Hamburguesa) ------- */
@media (max-width: 768px) { 
    .perfil-desktop {
        display: none;
    }
    .perfil-mobile {
        display: list-item;
    }

    .hamburger-menu {
        display: block;
    }

    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        max-width: 300px;
        height: 100vh;
        background-color: var(--primary-color);
        box-shadow: -2px 0 5px rgba(0,0,0,0.5);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        padding-top: 100px;
        z-index: 1000;
    }

    .main-nav.is-active {
        transform: translateX(0);
    }

    .main-nav ul {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .main-nav ul li {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .main-nav a { font-size: 1.2rem; }

    .main-nav a::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .main-nav a:hover::after {
        width: 100%;
    }
    .main-content{
        padding: 12px;
        padding-top: 0px;
        
    }
    .header {
        position: relative;
    }
}