.talleres__encabezado{

    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.te_menu{

    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    list-style: none;

}
.te_menu__btn{

    display: flex;
    padding: 1rem;
    width: auto;
    height: calc(0.25rem * 10);

    
    padding: 1rem;
    margin: 0.25rem;
    border-radius: 1.2rem;
    background-color: var(--gris-2);
    
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;

    transition: background-color 0.1s;
    &:hover{
            background-color: var(--gris-1);
        }

}

.taller_main-content{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bg-color-2);
    min-height: 100vh;
}

.taller_encabezado{

    margin: 0;
    width: 100%;
    height: 10rem;
    overflow-y: hidden;
    display: flex;
    position: relative;
    flex-direction: row ;
    
    
}
.taller_paginas{
    
    margin-bottom: 4px;
    
    width: 100%;
}


.taller_menu{

    
    margin-top: 4px;
    list-style: none;
    display: flex;
    margin-inline: 10%;
    
    font-family: var(--font-headings);
    font-weight: 500;
    font-size: 1rem;
    justify-content: space-evenly;

}

.taller_menu_btn{
    font-family: var(--font-headings);
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    border: none;
    padding: 1.25rem 1.25rem 2rem;
    width: 25%;
    height: calc(0.25rem * 10);
    background-color: var(--bg-color-2);
    position: relative;

    align-items: center;
    justify-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    cursor: pointer;
     
    
}
.taller_menu_btn::after {
   
    }
.taller_menu_btn:hover{
    background-color: var(--gris-2);
}
.taller_menu_btn:hover::after{
    width: 12%;
}
.taller_menu_btn.selected::after{

   content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Example: a partial border */
    height: 3px;
    background-color: var(--btn-subir);
    display: block;

}

.taller_portada{
    width: 100%;
    height: fit-content;

}
.taller_cuerpo{

    display: flex;
    flex-direction: column;

    width: 80%;
    min-height: 100vh;
    max-width: 800px;

    margin-inline: auto;
    

}
.taller_subir{
    display: flex;
    flex-direction: column;
    border-radius: var(--redondeo-taller);
    border: 1px solid black;
    background-color: white;
    margin-bottom: 16px;
}

.taller_contenido{

    display: flex;
    flex-direction: column;

    padding: 16px;
    border-radius: var(--redondeo-taller);
    border: 1px solid black;
    background-color: white;

}

.taller_publicacion{

    display: flex;
    flex-direction: column;
    margin: 1rem ;
    padding: 16px;
    width: auto;
    min-height: 12rem;
    max-height: 14rem;
    border-radius: var(--redondeo-taller);
    border: 1px solid var(--gris-1);
    background-color: white;

}
.t-p_encabezado{

    display: flex;
    flex-direction: row;
    margin: 2px ;
    height: min-content;
    width: auto;
    gap: 0.5rem;
    justify-content: start;
    align-items: center;
}
.t-p_foto_perfil{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.t-p_autor{

}
.t-p_fecha_pub{
    color: var(--gris-1);
    display: flex;
    margin-left: auto;
    
    transition: margin 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.t-p_cuerpo{
    margin-top: 0.5rem;
    margin-bottom: 0.5

}
.t-p_cuerpo_contenido{
    font-size: 14px;
    
    display: flex;
    flex-direction: row;
    max-height: 4rem;
    overflow-y: hidden;
}
.t-p_titulo{
    max-height: 2em;
    overflow-y: hidden;

}
.t-p_titulo_text{
    font-weight: bold;
}
.t-p_cuerpo_archivos{
    display: flex;
    flex-direction: row;
    
    overflow-x: hidden;

    margin-top: 10px;
    margin-bottom: 0px;
    width: auto;

}
.t-p_archivo{

    font-size: 12px;
    font-weight: bold;

    padding: 0.5rem;
    width: auto;
    height: 1.25rem;
    
    margin-left: 0px;
    margin-right: 5px;
    border-radius: 1.2rem;
    background-color: var(--gris-2);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    
}


/*ESTILOS PARA EL MENU DE EDICION DE UNA PUBBLICACION*/

.t-p_acciones_menu{

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
    position: relative;
}

.t-p_acciones_menu_cont{
    
    display: none;
    float: right;    
    width: 0;
    box-shadow: 0px 1px 2px 0px rgba(85, 84, 84, 0.2);
    z-index: 1;
    padding: 6px;
    gap: 5px;
    border-radius: 3px;

    align-items: center;
    transition: width 0.3s ease-in;
}
.t-p_acciones_menu:hover .t-p_acciones_menu_cont{
       display: flex;
       flex-direction: row;
       justify-content: center;

       width: max-content;
}
.t-p_acciones_menu:hover .t-p_fecha_pub{
       margin-right: 2rem;
}
.t-p_acciones_btn{

    width: calc(0.25rem * 7);
    height: calc(0.25rem * 7);
    padding: 8px;

    background-color: #4a417a00;
    border-radius: 100%;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-shrink: 0;
    transition: background-color 0.3s;

    &:hover{
        background-color: rgb(214, 210, 204);
    }
}
.t-p_archivo{
    display: flex;
    flex-direction: row;
    
    justify-content: start;
    align-items: center;

    background-color: rgb(190, 183, 197);
    padding: 6px;
    font-size: 12px;
    font-weight: 600;
    max-width: 150px;
    height: calc(0.25rem * 8);
    max-height: calc(0.25rem * 8);
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 3px;
    
    &:hover{
        border: 1px solid grey;
    }

}
.t-p_acciones_form{
    display: block;

}