/* Varaibles para talleres */
:root {
    --gris-1: oklch(78.377% 0.01976 285.877);
    --gris-2: oklch(58.544% 0.01646 264.475);

    --gris-texto: oklch(28.758% 0.01241 258.413);

    --btn-subir: oklch(55.542% 0.19656 1.567);
    --btn-subir-hover: oklch(36.897% 0.03658 259.493);

    --btn-borrar: oklch(0.8 0.1 30);
    --btn-borrar-hover: okSlch(0.7 0.1 30);
    --sa-cuerpo: oklch(93.1% 0.00011 271.152);

    --gris-1: #b0bdc2;
    --redondeo: 0.5rem;
    --redondeo-btn: 1.5rem;
    --redondeo-taller: 1.5rem;
}

/* ---------------------------------------------------- */

.main-content {
    padding: 1rem 2rem 2rem 2rem;

}

.sin-contenido {
    display: block;
}

.encabezado-talleres {
    display: flex;
    justify-content: center;
    margin: 25px 0 40px 0;
    grid-column: 1 / -1; 
}

.listado_talleres {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.taller {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    justify-self: center;
    margin-bottom: 20px;
}
.taller-contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: var(--borde-contenedor);
    background-color: var(--grey-color);    
}


.imagen-taller-cont {
    width: 100%; 
    flex-shrink: 0;
    border-radius: var(--borde-contenedor) var(--borde-contenedor) 0 0;
    overflow: hidden;
}
.imagen-taller-cont img {
    width: 100%; 
    aspect-ratio: 3 / 1.5;
    object-fit: cover;
    object-position: center;
}
.info-taller-contenedor{
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.talleres_vista {
    display: flex;
    justify-content: space-evenly;

}

.taller_menu_btn{
    font-family: var(--font-headings);
    font-size: 1rem;

    border: none;
    padding: 1.25rem 1.25rem 1.7rem;
    height: calc(0.25rem * 10);
    background-color: var(--bg-color);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;    
}

@media (max-width: 768px) {
    .taller_menu_btn {
        width: 40%;
        font-size: 14px; 
    }
}

.taller_menu_btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--brown-color);
    transition: width 0.3s ease; 
}
.taller_menu_btn.selected::after{
    width: 100%; 
    display: block;
}

.taller_menu_btn:hover{
    background-color: var(--grey-color);
}




/* --------------- INFO DE CADA TALLER INDIVIDUAL ---------------- */
#info-por-taller {
    width: 100%;
    background-color: white;
    margin: 0;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info-por-taller .info-taller-contenedor {
    width: 70%;
    padding: 10px 20px;
}

.banner {
    position: relative;
    width: 100%;
    height: 275px;
    overflow: hidden;
}
.banner-edit {
    width: 100%;
    height: 275px;
    overflow: hidden;
    
    position: relative; /* Necesario para posicionar el overlay */
    cursor: pointer;
}
.banner-edit .upload-label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.banner-edit .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Filtro gris transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.banner-edit:hover .overlay {
    opacity: 1;
}

.banner-edit .camera-icon {
    width: 40px; 
    height: 40px;
    filter: invert(1);
}

.banner-edit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Capa oscura semitransparente */
    z-index: 1; 
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.titulo-taller {
    position: absolute;
    bottom: 20px;
    left: 5%;
    color: var(--secondary-color); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.titulo-taller h2 {
    font-size: 2em;
    font-family: var(--font-headings); 
}


.flecha-atras{
    display: inline-block;
    margin-bottom: 10px;
}
.flecha-atras img {
    height: 30px;
}

#info-por-taller h1, h3{
    margin-bottom: 0;
}
#titulo {
    margin-bottom: 60px;
}

.informacion {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#descripcion {
    width: 55%;
}

.contenedor-boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    gap: 10px;
}

.contenedor-boton form {
    display: inline-block;
    width: auto;
}

.bt {
    background-color: var(--green-color);
    color: white;
    padding: 10px 20px;
    font-size: medium;
}
#bt-pendiente {
    opacity: 0.6;
    cursor: not-allowed;
}
#bt-pendiente:hover {
    background-color: var(--green-color); 
}



/* --- INFO DE CADA TALLER: VISTA ADMINISTRADOR --- */
.editar-taller {
    width: 100%;
}

#titulo-editable {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 60px;
}
#titulo-editable input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--grey-color);
    border-radius: 20px;
    font-family: inherit;
    font-size: 1.5rem;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    width: 100%;    
    justify-content: space-between;
    gap: 3rem;
}
#form-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-grupo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; 
}

/* Estilos para textarea e inputs */
#descripcion-textarea,
#form-contenedor input[type="text"] {
    width: 100%;
    padding: 5px 15px;
    border: 1px solid var(--grey-color);
    border-radius: 20px;
    font-family: inherit;
    background-color: white;
    
}

/* Estilos específicos para el textarea */
#descripcion-textarea {
    resize: vertical; 
}
#form-descripcion {
    width: 55%;
}
#form-detalles {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 10px;
}
#descripcion-textarea:focus,
#form-contenedor input[type="text"]:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 5px rgba(55, 42, 30, 0.3);
}

#bt-eliminar {
    margin-top: 20px;
    background-color: var(--red-color);
}

.editar-taller {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    #info-por-taller .info-taller-contenedor {
        width: 100%;
    }
    
    #form-contenedor {
        flex-direction: column;
        gap: 20px;
    }
    #form-descripcion {
        width: 100%; /* Hacemos que la descripción ocupe todo el ancho */
    } 
    .editar-taller {
        flex-direction: column;
        gap: 30px;
    }
}

.form-eliminar-taller {
    align-items: end;
}




/* -------------------------- DENTRO DE CADA TALLER -------------------------- */
.taller-main-content{
    flex-grow: 1; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}
.taller_paginas{    
    margin-bottom: 10px;
    width: 100%;
    background-color: var(--bg-color-2);
}

.taller_contenido{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    /* min-height: 30vh; */
    
    padding: 20px;
    border-radius: var(--redondeo-taller);
    border: 1px solid black;
    background-color: white;
}

/* --------- FORO --------- */
#foro-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; 
}

.taller_subir{
    display: flex;
    flex-direction: column;
    border-radius: var(--redondeo-taller);
    border: 1px solid black;
    background-color: white;
    margin-bottom: 16px;
}



/* Subir Publicación en subir_publicación.css */









/* ------------ Estilos de Felipe ----------------------------------
-------------------------------------------------------------------- */
.talleres__encabezado{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.te_menu{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    list-style: none;

}
.te_menu__btn{
    display: flex;
    padding: 1rem;
    width: auto;
    height: calc(0.25rem * 10);

    
    padding: 1rem;
    margin: 0.25rem;
    border-radius: 1.2rem;
    background-color: var(--gris-2);
    
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;

    transition: background-color 0.1s;
    &:hover{
            background-color: var(--gris-1);
        }

}





.taller_encabezado{
    margin: 0;
    width: 100%;
    height: 10rem;
    overflow-y: hidden;
    display: flex;
    position: relative;
    flex-direction: row ;
}



.taller_menu{
    margin-top: 4px;
    list-style: none;
    display: flex;
    margin-inline: 10%;
    
    font-family: var(--font-headings);
    font-weight: 500;
    font-size: 1rem;
    justify-content: space-evenly;

}

/* .taller_menu_btn{
    font-family: var(--font-headings);
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    border: none;
    padding: 1.25rem 1.25rem 2rem;
    width: 25%;
    height: calc(0.25rem * 10);
    background-color: var(--bg-color);
    position: relative;

    align-items: center;
    justify-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    cursor: pointer;    
} */

/* .taller_menu_btn::after {
   
}
 *//* .taller_menu_btn:hover{
    background-color: var(--gris-2);
} */

/* .taller_menu_btn.selected::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--brown-color);
    display: block;
} */

.taller_portada{
    width: 100%;
    height: fit-content;

}
.taller_cuerpo{
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* <-- AÑADIDO: Permite que el cuerpo del taller crezca */
    width: 80%;
    max-width: 800px;
    margin-inline: auto;
    min-height: 0; /* <-- AÑADIDO: Reseteo importante para contenedores flex anidados */
}


/* .taller_contenido{

    display: flex;
    flex-direction: column;

    margin-bottom: 0px;
    min-height: 100vh;
    
    padding: 4px;
    border-radius: var(--redondeo-taller);
    border: 1px solid black;
    background-color: white;

} */

.taller_publicacion{
    display: flex;
    flex-direction: column;
    
    margin: 0.5rem ;
    padding: 16px;
    /* width: auto;
    min-height: 12rem;
    max-height: 14rem; */
    border-radius: var(--redondeo-taller);
    border: 1px solid var(--gris-1);
    background-color: white;
}

.t-p_encabezado{
    display: flex;
    flex-direction: row;
    margin: 2px ;
    height: min-content;
    width: auto;
    gap: 0.5rem;
    justify-content: start;
    align-items: center;
}
.t-p_foto_perfil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* .t-p_autor{

} */
.t-p_fecha_pub{
    color: var(--gris-1);
    display: flex;
    margin-left: auto;
    
    transition: margin 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.t-p_cuerpo{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0 10px;
    height: 100%;
    gap: 5px;
}
.t-p_cuerpo_contenido{
    font-size: 14px;
    
    display: flex;
    flex-direction: row;
    max-height: 12rem;
    overflow-y: auto;
}
.t-p_titulo{
    max-height: 2em;
    overflow-y: hidden;

}
.t-p_titulo_text{
    font-weight: bold;
}
.t-p_cuerpo_archivos{
    display: flex;
    flex-direction: row;
    
    overflow-x: hidden;

    margin-top: auto;
    margin-bottom: 0px;

    width: auto;

}
.t-p_archivo{
    color: var(--gris-2);
    padding: 4px 12px;

    border: 1px solid grey; 
    border-radius: 14px; 
    font-size: 0.85rem; 
    font-weight: 500;
    max-width: 120px;
    overflow-x: hidden;
    overflow-y: hidden;

    max-height: 8rem;
    margin-top: auto;
    margin-bottom: 0px;
    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flow;
    width: 1000px;  
    
    &:hover{
        border: 1px solid grey;
        background-color: var(--gris-1);
    }
    
}
.t-p_archivo a{

    min-width: max-content;
    display: flex;
}


/*ESTILOS PARA EL MENU DE EDICION DE UNA PUBBLICACION*/

.t-p_acciones_menu{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    gap: 15px;
    cursor: pointer;
}

.t-p_acciones_menu_cont{
    
    display: none;
    float: right;    
    width: 0;
    box-shadow: 0px 1px 2px 0px rgba(85, 84, 84, 0.2);
    z-index: 1;
    padding: 6px;
    gap: 5px;
    border-radius: 3px;

    align-items: center;
    transition: width 0.3s ease-in;
}
.t-p_acciones_menu.editable:hover .t-p_acciones_menu_cont{
       display: flex;
       flex-direction: row;
       justify-content: center;

       width: max-content;
}
.t-p_acciones_menu.editable:hover .t-p_fecha_pub{
       margin-right: 2rem;
}

.t-p_acciones_btn{
    width: calc(0.25rem * 7);
    height: calc(0.25rem * 7);
    

    background-color: #4a417a00;
    border-radius: 100%;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-shrink: 0;
    transition: background-color 0.3s;

    &:hover{
        background-color: rgb(214, 210, 204);
    }
}
.t-p_acciones_form{
    display: block;

}
/*RECURSOS*/

.taller_recurso{
    display: flex;
    flex-direction: column;
    
    margin: 0.5rem 0;
    padding: 16px;
    width: auto;
    
    max-height: 6rem;
    border-radius: var(--redondeo-taller);
    border: 1px solid var(--gris-1);
    background-color: white;
}

/*PARTICIPANTES*/
.taller_participante{
    display: flex;
    flex-direction: row;

    margin: 0.25rem 0 ;
    padding: 16px;
    width: auto;
    align-items: center;
    gap: 10px;
    max-height: 4rem;

    border-radius: var(--redondeo-taller);
    border: 1px solid var(--gris-1);
    background-color: white;
}

@media (max-width: 768px) {
    .taller_paginas{
        height: fit-content;
        position: sticky;
        top: 0;
        z-index: 1;
        
    }
    
    .taller_publicacion{
        margin: 6px 0;
        padding: 10px;
    }
    .taller_contenido{
        border: none;
        background: none;
        padding: 0;
    }
    .taller_menu{
        height: 40px;
        display: flex;
        align-items: end;
    }
    .taller_cuerpo{
        margin: 0;
        padding: 12px;
        width: 100%;
    }
}
.hide{
    display: none;
}