
/* ------- Banner Principal con Saludo Dinámico ------- */
.banner {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.saludo {
    position: absolute;
    bottom: 20px;
    left: 5%;
    color: var(--secondary-color); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.saludo h1 {
    font-size: 2em;
    margin: 0;
    font-family: var(--font-headings); 
}


/* ------- Contenido Principal (Main - Section) ------- */
.info-container {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    margin-bottom: 2rem;
}

.info-texto {
    flex: 2;
}

.imagen {
    flex: 1; 
    display: flex;
    justify-content: center;
}

.imagen img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

#frente-biblio {
    width: 60%;
}


/* ------- Sección de Servicios ------- */
.servicios-lista {
    list-style-type: none;
    padding-left: 0;
    flex: 2;
}

.servicios-lista li {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.servicios-lista li::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 30px;
    margin-right: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Asignación de íconos a cada servicio */
.servicio-item-prestamo::before { background-image: url('../img/icono-prestamos.png'); }
.servicio-item-salas::before { background-image: url('../img/icono-salas-lectura.png'); }
.servicio-item-talleres::before { background-image: url('../img/icono-talleres.png'); }
.servicio-item-wifi::before { background-image: url('../img/icono-wifi.png'); }
.servicio-item-pc::before { background-image: url('../img/icono-pc.png'); }
.servicio-item-cargador::before { background-image: url('../img/icono-cargador.png'); }
.servicio-item-verde::before { background-image: url('../img/icono-verde.png'); }


/* ------- Sección de Información Útil ------- */
#info-util {
    display: flex;
    justify-content: space-between;
}
#info-util p {
    margin-bottom: 1rem;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-self: end;
    margin-bottom: 1rem;
}
.redes-sociales a {
    margin: 0 10px;
}

/* ----------- Contenido Responsive ----------- */
@media (max-width: 768px) {
    .banner {
        height: 300px;
    }

    .info-container {
        flex-direction: column;
    } 

    #info-util {
        flex-direction: column;
    }
    .redes-sociales {
        margin-top: 1rem;
        align-self: center;
    }
    .servicios-lista {
        align-self: flex-start;
        width: 100%;
    }

    main .imagen img {
        width: 80%;
        height: auto;
    }

}




